<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application android:name="android.app.Application"
        android:label="@string/learner_preview_app_name"
        android:allowBackup="false"
        android:networkSecurityConfig="@xml/foundation_network_security"
        tools:replace="android:name,android:label,android:allowBackup">
        <!-- No legacy OAuth links or scheduled raw-table workers in the fixture app. -->
        <activity android:name=".MainActivity" tools:node="remove" />
        <activity android:name=".learner.LearnerPreviewActivity" android:exported="true" android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".foundation.FoundationPreviewActivity" android:exported="true" />
    </application>
</manifest>
